.dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}
.greetings{
  text-align: center;
  font-size: 30px;
  color: #BFC7FF;
  font-weight: 600;
}
.greetings-2{
  text-align: center;
  margin: 10px;
}
.two-boxes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
}
.go-to-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 320px;
  padding: 40px;
  background-color: #7C80B3;
  align-items: center;
  border-radius: 4px;
  margin: 10px 30px;
}
.write-it-down{
  margin-top: 20px;
  width: 240px;
  padding: 10px;
}
@media (max-width: 700px){
  .go-to-section{
    padding: 30px;
  }
}
@media (max-width: 400px){
  .go-to-section{
    max-width: 260px;
    padding: 20px;
    margin: 10px 5px;
    font-size: 14px;
  }
}