header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  min-height: 50px;
  color:#BFC7FF;
  flex-wrap: wrap;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo:hover{
  text-shadow: none;
}
.logo-image{
  width: 50px;
  height: 50px;
  margin: 0px 8px;
}
.title{
  font-weight: 600;
  text-decoration: none;
  color: #BFC7FF;
  margin: 10px 0;
}
.header-right-side{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
}
.header-right-one-element{
  margin-right: 20px;
}
@media (max-width: 700px){
  header{
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .header-right-side{
    justify-content: center;
    margin-right: 0px;
  }
  .header-right-one-element{
    margin: 10px 20px;
  }
}
@media (max-width: 400px){
  header{
    padding: 5px 0;
    justify-content: space-around;
  }
  .header-right-side{
    justify-content: center;
    margin: 0px;
  }
  .header-right-one-element{
    margin: 10px 20px;
  }
  .title{
    font-size: 28px;
  }
}