.register-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  justify-content: space-evenly;
}
input{
  width: 260px;
  height: 30px;
}
.sign-up, .sign-in{
  font-size: 18px;
  width: 260px;
  margin: 20px 0 14px 0px;
}
.already{
  font-size: 14px;
}
